<div class="buttons">
  <button (click)="displayTruthTable()" mat-raised-button color="accent" [disabled]="!controlsActive">
    {{buttonTruthTableTitle}}
  </button>
  <button (click)="runCalculations()" mat-raised-button color="primary" [disabled]="!controlsActive">
    Run simulation
  </button>
  <button (click)="cancelAnimation()" mat-raised-button color="primary" [disabled]="controlsActive">
    Stop animation
  </button>
</div>
<div class="input_form">
  <mat-form-field appearance="fill">
    <mat-label>Number of nodes</mat-label>
    <mat-select [(ngModel)]="numberOfNodes" [disabled]="!controlsActive">
      <mat-option *ngFor="let value of numberOfNodesSelect" [value]="value">
        {{value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Number of connection nodes</mat-label>
    <mat-select [(ngModel)]="numberOfConnectionNodes" (selectionChange)="changeConnectionNodes()" [disabled]="!controlsActive">
      <mat-option *ngFor="let value of numberOfConnectionNodesSelect" [value]="value">
        {{value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Dot size</mat-label>
    <mat-select [(ngModel)]="dotSizeValue" (selectionChange)="changeDotSize()" [disabled]="!controlsActive">
      <mat-option *ngFor="let value of dotSizeSelect" [value]="value">
        {{value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Draw orientation</mat-label>
    <mat-select [(ngModel)]="orientationValue" (selectionChange)="changeOrientation()" [disabled]="!controlsActive">
      <mat-option *ngFor="let value of orientationSelect" [value]="value">
        {{value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="truthtable" *ngIf="showTruthTable">
  <div class="heading">Truth table ({{truthTableDisplay.length}})</div>
  <div class="truthtable__container">
    <div
      class="truthtable__item"
      *ngFor="let item of truthTableDisplay"
      matTooltip="{{item.pattern}} = {{item.value}}"
    >
      <span class="truthtable__pattern">{{item.pattern}}</span
      ><span class="truthtable__value">{{item.value}}</span>
    </div>
  </div>
</div>
<div class="counter" *ngIf="numberOfNodesCalculated">
  Number of nodes calculated: {{numberOfNodesCalculated}}
</div>

<canvas #canvas width="200" height="200" style="border:1px solid black;background-color: #fff;"></canvas>
